@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.dark{
    background-color: #FBF9F7;
    
        & header, footer, main{
            background-color: white;
            border: 1px solid #e7e6e4;
            & h1, h2, h3, h4, p, a{
                color: oklch(0.31 0.0076 59.95);
            }
            li > a > h3:hover{
                color: oklch(0.31 0.0076 59.95 / 75%);
            }
        }

        & svg > path{
            stroke: oklch(0.31 0.0076 59.95);
            fill: oklch(0.31 0.0076 59.95);
        }
}

@theme {
    --color-dark: #1C1B19;
    --font-sans: 'DM Sans', sans-serif;
    --font-mono: 'Fira Code', monospace; 
}

@layer components {
    .article{
        display: flex;
        flex-direction: column;
        gap: .5rem;

        & h2{
            font-size: 1.5rem;
            font-weight: bold;
        }

        & p {
            font-size: 1rem;
            max-width: 75ch;
        }
    }
}





