---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <section class="px-2 py-8 space-y-6">
        <article>
            <div class="relative w-fit mb-6">
                <h1 class="z-50 text-3xl text-white font-bold">About Me</h1>
                <span class="absolute -z-10 bottom-1 w-full p-1 bg-sky-300"></span>
            </div>
            <div>
                <p class="text-white/80 max-w-[48ch]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores ad reiciendis, doloremque voluptate ducimus atque optio, culpa magnam quas aut impedit aliquam, aperiam aliquid dolorem minima nulla dolore perspiciatis vel.
                    Soluta, corrupti nihil. Commodi repellendus quibusdam harum tempora, explicabo quis ex quia nulla impedit voluptatem, molestias quidem optio doloremque illum exercitationem rerum asperiores molestiae numquam modi itaque. Ipsam, tempora vitae!
                    Laborum sequi aliquid odit maiores doloremque incidunt placeat nisi esse, pariatur labore animi hic tempore explicabo iste nostrum tenetur illo minus alias fugiat ullam natus sunt quidem? Explicabo, delectus sint.
                    Delectus nemo cupiditate exercitationem. Suscipit ab numquam culpa maxime, aspernatur est! Iusto cupiditate, molestiae accusamus aliquam nobis placeat laborum. Et amet illo beatae reprehenderit, laboriosam accusamus esse nulla necessitatibus possimus.
                    Tempora laborum sapiente voluptatibus vel accusantium officiis itaque, optio minima dolorum officia animi voluptatem aut consequatur quo reiciendis dolor odio exercitationem neque ipsam at? Repudiandae aliquid sunt deleniti quod eius!
                </p>
            </div>
        </article>
    </section>    
</Layout>