
<header class="relative z-50 top-2 right-[1%] flex items-center justify-between p-2 w-[102%] bg-[#201F1D] border border-white/25 rounded-lg">
        <div>
            <img class="rounded-lg" width="36" height="36" src="./image-avatar.jpg" alt="un retrato de tomas pereira">
        </div>
    
        <div class="flex gap-4">
            <nav class="hidden lg:flex items-center gap-4">
                <a class="text-white " href="/">Home</a>
                <a class="text-white " href="/articles">Articles</a>
                <a class="text-white " href="/about">About</a>
                <a class="text-white " href="/newsletter">Newsletter</a>
            </nav>
            <div class="space-x-2">
                <button class="lg:hidden"><img src="./icon-menu.svg" alt=" "></button>
                <button class="p-2 border bg-dark border-white/25 rounded-lg"><img src="./icon-sun.svg" alt=" "></button>
            </div>
        </div>

</header>