
<header class="relative flex items-center justify-between p-1 bg-[#201F1D] border border-white/25 rounded-lg">
        <div>
            <img class="rounded-lg" width="36" height="36" src="./image-avatar.jpg" alt="un retrato de tomas pereira">
        </div>
    
        <nav class="hidden lg:flex items-center gap-4">
            <a href="#">Home</a>
            <a href="#">Articles</a>
            <a href="#">About</a>
            <a href="#">Newsletter</a>
        </nav>
        <div class="space-x-2">
            <button class="lg:hidden"><img src="./icon-menu.svg" alt=" "></button>
            <button class="p-2 border bg-dark border-white/25 rounded-lg"><img src="./icon-sun.svg" alt=" "></button>
        </div>
</header>