

<section class="px-2 py-6 space-y-7 border-b border-white/25">
    <h2 class="relative text-3xl text-white font-bold w-fit after:absolute after:bottom-2 after:-right-[2.5ch] after:content-[_] after:p-[2px] after:w-[2ch] after:bg-sky-400">Lastest Articles</h2>
    <ul class="space-y-4">
        <li>
            <a href="#"><h3 class="text-xl text-white font-semibold">SAMPLE TITLE</h3></a>
            <h4 class="text-white/50 italic">April 9, 2025</h4>
        </li>
        <li>
            <a href="#"><h3 class="text-xl text-white font-semibold">SAMPLE TITLE</h3></a>
            <h4 class="text-white/50 italic">April 9, 2025</h4>
        </li>
        <li>
            <a href="#"><h3 class="text-xl text-white font-semibold">SAMPLE TITLE</h3></a>
            <h4 class="text-white/50 italic">April 9, 2025</h4>
        </li>
        <li>
            <a href="#"><h3 class="text-xl text-white font-semibold">SAMPLE TITLE</h3></a>
            <h4 class="text-white/50 italic">April 9, 2025</h4>
        </li>
        <li>
            <a href="#"><h3 class="text-xl text-white font-semibold">SAMPLE TITLE</h3></a>
            <h4 class="text-white/50 italic">April 9, 2025</h4>
        </li>
    </ul>
    <a href="#" class="text-white text-lg font-semibold underline underline-offset-4 decoration-4 decoration-sky-400">View all articles</a>
</section>