
<div class="absolute">
    <nav class="hidden items-center gap-4">
        <a href="#">Home</a>
        <a href="#">Articles</a>
        <a href="#">About</a>
        <a href="#">Newsletter</a>
    </nav>
</div>
