---

---

<div class="absolute hidden top-[98%] left-0 w-full px-4 py-6 bg-dark border border-t-0 border-white/25 rounded-lg rounded-t-none dark:bg-white dark:border-[#e7e6e4] menu-component">
    <nav class="items-center gap-4">
        <ul class="text-lg text-center text-white divide-y divide-white/25 dark:divide-[#e7e6e4]">
            <li class="py-2"><a href="/">Home</a></li>
            <li class="py-2"><a href="/articles">Articles</a></li>
            <li class="py-2"><a href="/about">About</a></li>
        </ul>   
    </nav>
</div>
