---
import "../styles/global.css";
import Header from "../components/Header.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="p-4 bg-dark">
		<Header/>
		<main>
			<h1 class="mb-3 text-3xl text-white font-bold underline underline-under decoration-sky-300 decoration-6">Lorem ipsum</h1>
			<p class="text-white/80">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum sequi facilis possimus quibusdam et? Sapiente optio earum obcaecati? Rem aperiam dicta delectus quisquam cumque velit earum quidem dolore laborum ullam?</p>
		</main>
		<slot />
	</body>
</html>

